@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    color: #000;
    box-sizing: border-box;
}

:root {
    --font-color-destaque: #85ff9c;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 320px;
    padding: 1em;
    margin: 1em auto;


    border-radius: .5em;
    background-color: rgb(255, 255, 255);
    box-shadow: -3px 3px 5px var(--font-color-destaque);
}

body {
    text-align: justify;
    background-color: rgb(231, 233, 233);
}

/*===========================================*/

.intro {
    width: 100%;
    margin: 0 auto;
    padding-block: 2em;

    border-bottom: 2px solid var(--font-color-destaque)
}

.intro h2 {

    font-size: 2em;
    text-align: center;
    font-variant: small-caps;
    text-shadow: -1px 1px 1px #000;
    color: var(--font-color-destaque);
}

.intro h3 {
    font-size: 1em;
    text-align: left;
    font-style: oblique;
    text-transform: uppercase;

    margin-block: 2.5em 0;
}

.elton-foto {
    width: 90%;
    display: block;
    margin: 1em auto;

    border-radius: 50%;
}

.area-sobre{
    width: 100%;
    margin: 0 auto;
    padding-block: 2em;

    border-bottom: 2px solid var(--font-color-destaque)
}


.area-sobre h2 {
    font-size: 2em;
    text-align: center;
    font-variant: small-caps;
    text-shadow: -1px 1px 1px #000;
    color: var(--font-color-destaque);
}

/*=========================================*/

.area-pix {

    display: flex;
    align-items: center;
    flex-direction: column;

    text-align: center ;

    padding-block: 2em;

    border: 1px solid var(--font-color-destaque);
}

.area-pix h2 {
    font-size: 2em;
    font-variant: small-caps;
    text-shadow: -1px 1px 1px #000;
    color: var(--font-color-destaque);

}

.logo-pix {
    display: flex;
    margin: 1em auto;
    align-items: center;
    flex-direction: row;
}

.logo-pix img {
    width: 2em;
    height: 2em;
}

.logo-pix h3 {
    font-size: 2.5em;
    font-weight: 100;
}

.qr-code {
    width: 12em;
}

.area-pix p{
    font-size: .9em;
}

.btn-phone {
    border: none;
    padding: .9em;
    border-radius: 2em;

    color: #fff;
    font-size: 1.3em;

    background-color: var(--font-color-destaque);
}

p.pix-key{
    font-size: .5em;
    text-align: center;
    text-decoration: underline;
}

/*=====================================*/

p {
    width: 100%;
    line-height: 2em;
    margin-block: .5em;
}

a {
    color: inherit;
    text-decoration: none;
}

span {
    font-weight: bolder;
    font-variant: small-caps;
    color: var(--font-color-destaque);
}

::-webkit-scrollbar {
    width: .1px;
}