@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    color: #000;
    box-sizing: border-box;
}

:root {
    --font-color-main: #5fc271;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: min(450px, 100%);

    padding: .8em;
    margin: 1em auto;


    border-radius: .5em;
    background-color: rgb(255, 255, 255);
    box-shadow: -3px 3px 5px var(--font-color-main);
}

body {
    text-align: justify;
    background-color: rgb(231, 233, 233);
}

/*===========================================*/

.home{
    width: 100%;
    margin: 0 auto;
    padding-block: 2em;

    border-bottom: 2px solid var(--font-color-main)
}

.home h3{
    font-size: 2em;
    text-align: center;
    font-variant: small-caps;
    text-shadow: -1px 1px 1px #000;
    color: var(--font-color-main);
}

.home img {
    width:100%;
    margin-block: 1em;
}

/*===========================================*/

.intro {
    width: 100%;
    margin: 0 auto;
    padding-block: 2em;

    border-bottom: 2px solid var(--font-color-main)
}

.intro h2 {
    font-size: 2em;
    text-align: center;
    font-variant: small-caps;
    text-shadow: -1px 1px 1px #000;
    color: var(--font-color-main);
}

.intro h3 {
    font-size: 1em;
    text-align: left;
    font-style: oblique;
    text-transform: uppercase;

    margin-block: 2.5em 0;
}

.elton-photo {
    width: 90%;
    display: block;
    margin: 1em auto;

    border-radius: 50%;
}

.area-about{
    width: 100%;
    margin: 0 auto;
    padding-block: 2em;

    border-bottom: 2px solid var(--font-color-main)
}


.area-about h2 {
    font-size: 2em;
    text-align: left;
    font-variant: small-caps;
    text-shadow: -1px 1px 1px #000;
    color: var(--font-color-main);
}

/*=========================================*/

.area-pix {
    display: flex;
    align-items: center;
    flex-direction: column;

    text-align: center ;

    padding-block: 2em;

    border: 1px solid var(--font-color-main);
    border-right-width: .4em; 
}

.area-pix h2 {
    font-size: 2em;
    font-variant: small-caps;
    text-shadow: -1px 1px 1px #000;
    color: var(--font-color-main);

}

.logo-pix {
    display: flex;
    margin: 1em auto;
    align-items: center;
    flex-direction: row;
}

.logo-pix img {
    width: 2em;
    height: 2em;
}

.logo-pix h3 {
    font-size: 2.5em;
    font-weight: 100;
}

.qr-code {
    width: 12em;
}

.area-pix p{
    font-size: .9em;
}


.btn-phone{
    padding: 1em 0em;
    margin-block: 2em;

    color: #fff;
    font-size: 1.3em;
    text-align: center;
    
    border: none;
    border-radius: 2em;
    background-color: var(--font-color-main);
}

.btn-phone:focus {
    outline: none;
}

.btn-copy{
    cursor: pointer;

    width: 2em;
    border: none;
    background: none;
    position: relative;
    transition: all 500ms;
}

.btn-copy:active{
    background: none;
    transform: scale(1.2);
}

.btn-copy:focus{
    background: none;
}

.area-copy-btn {
    gap: 1em;
    display: flex;
    align-items: center;
    flex-direction: row;
}

p.pix-key-bank{
    margin-block: 0em 3em;

    font-size: .5em;

    border:none;
    cursor: pointer;
    text-decoration: none;
}

/*=====================================*/

.equipment {
    width: 100%;
    margin: 0 auto;
    padding-block: 2em;

    //border-bottom: 2px solid var(--font-color-destaque)
}

.equipment h2 {
    font-size: 2em;
    font-variant: small-caps;
    text-shadow: -1px 1px 1px #000;
    color: var(--font-color-main);
}

.equipment .photo {
    width: 100%;

    gap: .5em;
    display: flex;
    margin-block: 2em;
    flex-direction: row;
    justify-content: space-around;
}

.equipment .photo img{
    width: 45%;

    border-radius: 100%;
    border: 1px solid var(--font-color-main);

    transition: all 500ms;
}

.equipment .photo img:hover {

    transform: scale(1.2);
    border-radius: 0;
}

/*===============================================*/

p {
    width: 100%;
    line-height: 2em;
    margin-block: .5em;
}

a {
    color: inherit;
    text-decoration: none;
}

span {
    font-weight: bolder;
    font-variant: small-caps;
    color: var(--font-color-main);
}

::-webkit-scrollbar {
    width: .1px;
}